.red{
    background-color: red;
}
.green{
    background-color: green;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image.jpg);
    background-size:cover
    background-repeat: no-repeat;
}